/* Setting up Outfit font */

@font-face {
  font-family: "Outfit";
  src: url("./resources/fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./resources/fonts/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./resources/fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

a {
  text-decoration: none;
}

/* UTILITY CLASSES */

/* Flexbox utilities */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-middle {
  align-items: center;
}

.flex-top {
  align-items: flex-start;
}

.flex-bottom {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Dimensions */

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/* Padding */

.p-1 {
  padding: 0.25rem;
}

/* CUSTOM STYLES */

/* Colors */
:root {
  --almost-white: #fffefe; /* Casi blanco */
  --light-gray: #f3f4f6; /* Gris claro */
  --charcoal-gray: #394150; /* Gris carbón */
  --pure-black: #000000; /* Negro puro */
  --royal-blue: #263fa9; /* Azul real */
  --mint-green: #86e7d4; /* Verde menta */
  --sky-blue: #9dc4f8; /* Azul cielo */
  --lavender: #c1b6f8; /* Lavanda */
  --pink-blush: #edacd2; /* Rosa rubor */
  --peach: #f8d8b0; /* Durazno */

  /* Containers */
  --custom-br-1: 0.25rem;
  --custom-br-2: 0.5rem;
  --custom-br-2: 0.75rem;
  --custom-br-3: 1rem;
  --custom-br-4: 1.25rem;
  --custom-br-5: 1.5rem;
}

body {
  /* Fonts */
  font-family: "Outfit", sans-serif, Arial, Helvetica;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--almost-white);
  color: var(--pure-black);
}

main {
  padding-block: 2rem;
  padding-inline: 1rem;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

.container .intro-text {
  background-color: var(--light-gray);
  padding-block: 1.5rem 5rem;
  padding-inline: 1.25rem;
  border-top-left-radius: var(--custom-br-4);
  border-top-right-radius: var(--custom-br-4);

  background-image: url("./resources/images/Background_decor@2x.png");
  background-repeat: no-repeat;
  background-position: left 2%;
}

.container .intro-text .our-team {
  color: var(--royal-blue);
}

.container .intro-text h1 {
  font-size: 2.5rem; /* 40px*/
  margin-top: 1rem;
}

.container .intro-text p:not(.our-team) {
  color: var(--charcoal-gray);
  margin-top: 1.5rem;
}

/* Professionals Cards */

.container .professionals {
  display: grid;
}

.container .professionals .photo-container {
  position: relative;
  width: 100%; /* Ajusta según tus necesidades */
  overflow: hidden; /* Evita que el contenido se salga del contenedor */
  aspect-ratio: 1/1; /* Relación de aspecto 1:1 */
}

.photo-container picture,
.photo-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor */
}

.photo-container .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--almost-white);
  padding: 1rem 1rem 2rem 1.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: grid;
  gap: 0.5rem;

  background-image: url("/resources/images/Gradient@2x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.photo-container .info h2 {
  font-weight: 600;
  font-size: 1.25rem;
}

.container .professionals .photo-container[data-person="liam-novak"] {
  background-color: var(--lavender);
}
.container .professionals .photo-container[data-person="sophia-moretti"] {
  background-color: var(--pink-blush);
}
.container .professionals .photo-container[data-person="ethan-rossi"] {
  background-color: var(--sky-blue);
}
.container .professionals .photo-container[data-person="isabella-ricci"] {
  background-color: var(--peach);
}
.container .professionals .photo-container[data-person="noah-conti"] {
  background-color: var(--mint-green);
}

.container .professionals .photo-container.empty {
  background-color: var(--light-gray);
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  border-bottom-left-radius: var(--custom-br-4);
  border-bottom-right-radius: var(--custom-br-4);
}

.container .professionals .photo-container.empty .text a {
  font-size: 0.65rem;
  color: var(--charcoal-gray);
  transition: color .4s ease-in-out;
}

.container .professionals .photo-container.empty svg {
  width: 0.5rem;
  margin-left: 0.25rem;
  color: var(--charcoal-gray);
}

/*------------------------ MEDIA QUERIES -----------------------*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .container .intro-text {
    padding-block-end: 6.5rem;
  }

  .professionals {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "intro-text intro-text intro-text"
      "person1 person2 person3"
      "empty person4 person5";
  }

  .intro-text {
    grid-area: intro-text; /* Ubicar .intro-text en el área definida */
  }

  .photo-container[data-person="liam-novak"] {
    grid-area: person1;
  }

  .photo-container[data-person="sophia-moretti"] {
    grid-area: person2;
  }

  .photo-container[data-person="ethan-rossi"] {
    grid-area: person3;
  }

  .photo-container[data-person="isabella-ricci"] {
    grid-area: person4;
  }

  .photo-container[data-person="noah-conti"] {
    grid-area: person5;
    border-bottom-right-radius: var(--custom-br-4);
  }

  .photo-container.empty {
    grid-area: empty;
    border-bottom-right-radius: 0px !important;
  }
}

/*Desktop*/
@media screen and (min-width: 1025px) {
  .container .professionals {
    position: relative;
  }

  .container .intro-text {
    border-top-right-radius: 0px;
    padding-block: 1.5rem 0px !important;
    background-image: url(/resources/images/Background_decor.svg);
    background-size: 18rem;
    background-position: .4rem -4rem;
  }

  .professionals {
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    grid-template-rows: auto auto; /* Dos filas */
    grid-template-areas:
      "intro-text intro-text person1 person2" /* Primera fila */
      "empty person3 person4 person5"; /* Segunda fila */
  }

  .professionals .photo-container.empty {
    background-image: url(/resources/images/Background_decor.svg);
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: -1.65rem -26rem;
  }

  .photo-container[data-person="sophia-moretti"] {
    border-top-right-radius: var(--custom-br-4);
  }

  .container .professionals .photo-container.empty .text a {
    font-size: 1rem;
  }


  .container .professionals .photo-container.empty .text a:hover svg,
  .container .professionals .photo-container.empty .text a:hover {
    color: var(--royal-blue);
  }

  .container .professionals .photo-container.empty img {
    width: 1rem;
  }

  .container .professionals .photo-container.empty .text a svg {
    width: 1rem;
  }
}
